<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Task list</h1>

    <br>

    <a href="{% url 'task_create' %}">Nova Tarefa</a>
    <br>

    <table border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Título</td>
                <td>Projeto</td>
                <td>Descrição</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.project.name }}</td>
                    <td>{{ task.abstract }}</td>
                    <td>
                        <a href="{% url 'task_detail' task.id %}">Ver mais</a> |
                        <a href="{% url 'task_update' task.id %}">Atualizar</a> |
                        <a href="{% url 'task_delete' task.id %}">Excluir</a> |
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>