{% extends 'bases/base.html' %}

{% block content %}
<section class="h2d-section">
  <div class="h2d-project--header">
    <div class="h2d-project--title">
      <div class="h2d-project--badge" style="background-color: {{project.color}};"></div>
      <h1>{{ project.name }}</h1>
    </div>
    {% if project.category %}
    <div class="h2d-category--name">
      <span>{{ project.category.name }}</span>
    </div>
    {% endif %}
    <div>
      <small><strong>Criado em: </strong> {{ project.created_at|date:"d/m/Y - H:i" }}</small> |
      <small><strong>Atualizado em: </strong> {{ project.updated_at|date:"d/m/Y - H:i" }}</small>
    </div>
  </div>

  <div class="h2d-project--description">
    <p>
      {{ project.description }}
    </p>
  </div>

  <div class="h2d-project--tasks">
    {% for task in tasks %}
    <div class="
    {% if task.status == 0 %}
      h2d-card--task
    {% elif task.status == 1 %}
      h2d-task--done
    {% endif %}
    ">
      <div class="h2d-card-task--header">
        <div>
          <h4>{{ task.title }}</h4>
          <small>{{ task.get_status_display }}</small>
        </div>
        {% if task.status == 0 %}
          <a href="{% url 'task_done' task.id %}" class="h2d-btn bg-success">Finalizar</a>
        {% endif %}
      </div>
      {{ task.description|linebreaks }}
      <div class="h2d-card-task--footer">
        {% if task.status == 0 %}
          <a href="{% url 'task_cancel' task.id %}" class="h2d-btn bg-danger">Cancelar</a>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p>
      Nenhuma tarefa para esse projeto
    </p>
    {% endfor %}
  </div>
</section>
<a href="{% url 'task_create' project.id %}" class="h2d-float--button">
  Nova Task
</a>
{% endblock %}