<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Criar Projeto</h2>

    <form method="post">
        {% csrf_token %}

        <div>
            <label for="id_name">Nome</label>
            <input type="text" name="name" id="id_name">
        </div>

        <div>
            <label for="id_description">Descrição</label>
            <textarea name="description" id="id_description"></textarea>
        </div>

        <div>
            <label for="id_color">Cor</label>
            <input type="text" name="color" id="id_color">
        </div>

        <div>
            <button type="submit">Salvar</button>
        </div>
    </form>

</body>
</html>